.calculator-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  background-color: black;
  color: white;
}