/* All styles for your header Components live here */

header p {
  margin-top: 0.5rem;
}

.header-title {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.header-title span {
  margin-left: 0.5rem;
}

.header-title span {
  color: var(--gray);
}

.header-title span+span::before {
  content: "\00B7";
  margin-right: 0.5rem;
}