footer {
  display: inline-grid;
  grid-template-columns: var(--thumb-width) 1fr;
  max-width: var(--max-width);
}

footer div {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 2 / -1;
}

footer img {
  display: inline-block;
  height: 1rem;
}